{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Workouts</h5>
          <p class="card-text">keep track on your workouts</p>
          <a href="{% url 'workout_sessions' %}" class="btn btn-primary">Track</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bodyweight</h5>
          <p class="card-text">Keep track of your bodyweight and calories intake</p>
          <a href="#" class="btn btn-primary">Track</a>
        </div>
      </div>
    </div>
  </div>



{% endblock %}