{% extends "base.html" %}
{% block content %}


<div class="col-md-6 offset-md-3">
<h1>Update Workout Session</h1>
<br/>

<form method="POST" action="{% url 'update-session' workout_session.id %}">
	{% csrf_token %}
	{% if form.errors %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  Your Form Has Errors
			  {% for field in form %}
			  	{% if field.errors %}
			  		{{ field.errors }}
			  	{% endif %}
			  {% endfor %}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
	{% endif %}

	<div class="form-group">
        <label for="{{ form.date.id_for_label }}">Date:</label>
        <input type="date" name="date" value="{{ form.instance.date|date:'Y-m-d' }}" class="form-control" id="{{ form.date.id_for_label }}">
    </div>
    <div class="form-group">
        <label for="{{ form.duration.id_for_label }}">Duration (Minutes):</label>
        {{ form.duration }}
    </div>
    <div class="form-group">
        <label for="{{ form.notes.id_for_label }}">Notes:</label>
        {{ form.notes }}
    </div>

	<br/>
	  <button type="submit" class="btn btn-secondary">update</button>
</form>



</div>

{% endblock %}