{% extends 'base.html' %}
{% block content %}

{% comment %} <style>
    .card .nav-link {
        color: black !important; 
    }

    .workouts-container {
        position: relative;
    }

    .add-workout {
        position: absolute;
        bottom: 10px; 
        right: 10px;
        margin-top: 10px;
    }

    .delete-icon {
        color: #dc3545; 
    }

    .mark-icon {
        color: green;
    }
</style> {% endcomment %}

<div class="card text">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" id="general_info-tab" aria-current="true" href="#general_info" data-toggle="tab">General Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="workouts-tab" href="#workouts" data-toggle="tab">Workouts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="goals-tab" href="#goals" data-toggle="tab">Goals</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="general_info">
                <p class="card-text">
                    <strong>Date: </strong>{{ workout_session.date }}
                </p>
                <p class="card-text">
                    <strong>Duration: </strong>{{ workout_session.duration }} minutes
                </p>
                <p class="card-text">
                    <strong>Notes: </strong>{{ workout_session.notes }}
                </p>
            </div>
            <div class="tab-pane fade" id="workouts">
                {% include 'partials/workout_list.html' %}
            </div>
            <div class="tab-pane fade" id="goals">
                {% include 'partials/goal_list.html' %}
            </div>
        </div>
    </div>
</div>


<br/><br/>
<a href="{% url 'tracker' %}" class="btn btn-secondary">Back</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function(){
        function showTab(tab) {
            $('.nav-link').removeClass('active');
            $('#' + tab + '-tab').addClass('active');
            $('.tab-pane').removeClass('show active');
            $('#' + tab).addClass('show active');
            updateUrl(tab);
        }

        function updateUrl(tab) {
            var url = window.location.href.split('?')[0]; 
            window.history.replaceState({}, '', url + '?tab=' + tab); 
        }

        $('.nav-link').on('click', function(){
            var tab = $(this).attr('id').replace('-tab', '');
            showTab(tab);
        });

        var urlParams = new URLSearchParams(window.location.search);
        var tabParam = urlParams.get('tab');
        if (tabParam) {
            if ($('#' + tabParam).length) {
                showTab(tabParam);
            } else {
                showTab('general_info'); // Default to general_info if tabParam doesn't match any tab
            }
        } else {
            showTab('general_info'); // Default to general_info if no tabParam is present
        }
    });
</script>


{% endblock %}
