{% extends "base.html" %}
{% block content %}

<h1>Workout Sessions</h1>
<h5>Click on the individual Workout Session index to add Workouts and Goals</h5>
<hr>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-workout-session' %}">
        Create a new workout session 
    </a>
    <div id="sort-icons">
        <a href="{% url 'workout-sessions' %}" style="text-decoration: none;" class="fa-solid fa-sort" id="sort-icon-default"></a>
        <a href="{% url 'sort-workout-sessions-furthest-early' %}" style="text-decoration: none;" class="fa-solid fa-sort-up"></a>
        <a class="fa-solid fa-sort-down" href="{% url 'sort-workout-sessions-early-furthest' %}" style="text-decoration: none;"></a>
    </div>
</div>

<hr>

{% include 'partials/workout_sessions_list.html' %}
<a href="{% url 'tracker' %}" class="btn btn-outline-secondary">Back</a>



{% endblock %}