{% if messages %}
          {% for message in messages %}
              {% if message.extra_tags == 'success' %}
              <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% elif message.extra_tags == 'error' %}
              <div id="errorAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
          {% endfor %}
{% endif %}

<div class="friend-list-container" id="friends-list">
    <table class="table">
        <tbody>
            {% if friendshipList %}
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th></th>
                    </tr>
                </thead>
                {% for friend in friendshipList %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ friend }}</td>
                        <td>
                            <span class="fas fa-times delete-icon" style="cursor: pointer;" hx-delete="{% url 'unfriend' friend.id %}" hx-target=".friend-list-container" hx-confirm="Are you sure you wish to delete?"></span>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>You haven't added any friends yet.</p>
            {% endif %}
        </tbody>
    </table>
</div>