name: Django Tests

on:
  push:
    branches:
      - '*'
  
  pull_request:
    branches:
      - main
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11.4
      uses: actions/setup-python@v3
      with:
        python-version: 3.11.4
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Django Testing
      run: |
        export DJANGO_SETTINGS_MODULE=core.settings_test
        python manage.py test website
    - name: Coverage report
      run: |
        export DJANGO_SETTINGS_MODULE=core.settings_test
        coverage run manage.py test
        coverage report
